<form>
  <label for="">Display Name</label>
  <input type="text" 3 required name="displayName" onChange="{handelChange}" value="{displayName}" />
  <label htmlFor="">Email</label>
  <input type="email" required name="email" onChange="{handelChange}" value="{email}" />
  <label htmlFor="">Password</label>
  <input type="password" required name="password" onChange="{handelChange}" value="{password}" />
  <label htmlFor="">Confirm password</label>
  <input type="password" required name="confirmPassword" onChange="{handelChange}" value="{confirmPassword}" />
  <button type="submit">Sign Up</button>
</form>
